[Desktop Entry]
Name=Epic Games
Comment=Epic Games Store
Comment[zh_CN]=Epic游戏商城
Exec="/home/lwa/Documents/Proton Custom/pfx/drive_c/Program Files (x86)/Epic Games/Launcher/Portal/Binaries/Win64/EpicGamesLauncher.exe" %U
Icon=epicgames
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true